body{
  margin: 30px 100px;
  background-color: #f0f0f0;
}

.workplace{
  min-height: calc(100vh - 140px);
}

.card{
  border: 1px solid #606c76;
  border-radius: 5px;
  width: 18%;
  height: 100%;
  padding: 1rem .5rem;
  margin-right:30px;
  background-color: #fff;
  position: relative;
}

.task{
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  background-color: lightsteelblue;
  border-radius: 5px;
  margin-bottom: 5px;
  word-break: break-all;
  gap: 5px;
  cursor: pointer;
  align-items: center;
}

.task .del{
  cursor: pointer;
  font-size: 25px;
}

.button{
  width: 18% !important;
}

.inputBlock{
  display: flex;
  align-items: center;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  height: 3.8rem;
  padding: .6rem 1.0rem .7rem;
}

input{
  border: 0 !important;
  padding: 0 !important;
  margin: 0 10px 0 0!important;
}

.close{
  display: inline-block;
  cursor: pointer;
}

.hidden{
  display: none;
}